}
a { 
    text-decoration: none;
    outline: none;
}

a:hover { /* * se utiliza para seleccionar y dar estilo al pasar con el ratón por encima de un elemento*/
    text-decoration: underline;
}

body {
    font-family: 'Noto Sans JP', sans-serif;    /* *Se cambia el tipo de letra */
    background: #f2f2f2;
}

/* * Headher */

.navbar { /*Color de la barra superior e inferior*/
    background: #4274bf;
}

.navbar a { /*Color del texto de la barra de navecagion superior en inferior*/
    color: #fff;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: rgb(245, 241, 241);
    transition: .3s; /*Agrega efecto transicion al pasar el cursor*/
}

.navbar a:hover {
    background: #1D2F3D;
    color: #fff;
    text-decoration: none;
}

.alinear-izquierda{
    float: left;
}

.contenedor {
    max-width: 1000px;
    width: 90%;
    margin: auto;
    display: flex; /*flex es una propiedad resumida que indica la capacidad de un elemento flexible para alterar sus dimensiones y llenar el espacio disponible. */
    justify-content: space-between; /*Los items flex se distribuyen uniformemente sobre la línea. */
}


/* * Contenedor Imágen */

.contenedor-imagen {
    height: 100vh;
}

.contenedor-imagen img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
    object-position: 0 bottom;
}


/* * Main */

main {
    min-height: 100vh;
}

main .contenido p {
    margin-bottom: 20px;
    line-height: 30px;
    color: #525151;
}

main .contenido .titulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding-top: 40px;
}
/* * Aside */

aside {
    min-width: 20%;
    margin: 40px 20px 20px 0;
    height: 100%;
    background: #698ca7;
    padding: 30px;
    border-radius: 6px;
}

aside .titulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 20px;
    color: #f2f2f2;
}

aside .indice a {
    display: block;
    margin-bottom: 10px;
    color: #60ff04;
}

aside .indice p {
    display: block;
    margin-bottom: 10px;
    color: #f0e80c;
}

aside .indice li {
    display: block;
    margin-bottom: 10px;
    color: #05f519;
}

/** Media Queries */

@media screen and (max-width: 1000px){ /*Basicamente funciona para distribuir los elementos en la páginaww3*/
    .navbar .contenedor {
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
    }

    .navbar a {
        width: auto;
        flex: 1;
    }

    .contenedor-imagen {
        height: 50vh;
    }

    main .contenedor {
        flex-direction: column;
    }
}